
body {
    background-color: rgb(24,167,224);
    margin: 0;
    padding: 0;
  }



.center-form {
    padding-top: 10%;
    height: 80vh;
}
.signup {
    color: white;
}
#event {
    padding: 12px 16px;
    margin: 0 0 -2px;
}