.App {
  text-align: center;

}


footer {
  position: sticky;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  padding: 15px;
}


.red {
  color: red;
}

.login-fields {
  margin: 0 !important;
}


